@charset "UTF-8";

/*estilo para impressão*/

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    text-indent: 30px;
}

menu{
    display: none;
}
article{
    width: 100%;
}
article::after{
    content: 'mor louco isso aparecer aqui';
}