*{
    font-family: 'Courier New', Courier, monospace;
 
}




body{
    background-image: linear-gradient(to left, #73a9d9,#69bfb7);

}




main{
    background-color: #f2c3a7;
    border-radius: 10px;
    box-shadow: 10px,10px,20px,rgb(0, 0, 0);
    width: 600px;
    padding: 10px;
    margin: auto;

    


}

h1,h2{
    color: #a65526;
    text-align: justify;
}

p{
    text-align: center;
}